.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center; 
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}


/* #btn {
  background-color: #4ECCA3;
  border: solid #457cc4;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
} */
.btn{
  margin-top: 90px;
  text-align: center;
}









#btn {
  display: inline-block;
outline: 0;
border:0;
cursor: pointer;
text-decoration: none;
position: relative;
color: #1a1717;
background: #2e3746;
line-height: 30px;
border-radius: 40px;
padding: 20px;
font-size: 30px;
font-weight: 600;
box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
transition: all 0.2s;
}


#btn:hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}
























p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
